@import "bourbon/bourbon";

html {
  width: 100%;
  background-color: #EDF0F6;
}

body {
  width: 300px;
  margin: 0 auto;
  font-family: $verdana;
  font-size: 12px;
  padding: 40px 0;
}

h1, h2 {
  font-family: $helvetica;
  font-size: 15px;
}

section {
  margin-bottom: 30px;
}

textarea {
  resize: vertical;
}
