@import "bourbon/bourbon";
//************************************************************************//
// UI Components
//************************************************************************//

// Pure CSS Arrow for Expand/Collapse indicators (Task-index List, Popovers, etc)
//************************************************************************//
.arrow {
  $arrow-color: #333;
  border: 6px solid transparent;
  border-top-color: $arrow-color;
  display: inline-block;
  height: 0;
  // margin-top: 3px;
  // vertical-align: top;
  position: relative;
  top: 5px;
  width: 0;
  opacity: 0.5;
}

// Slightly Smaller Arrow
.arrow-small {
  @extend .arrow;
  border-width: 5px;
  top: 4px;
}
