.arrow, .arrow-small {
  border: 6px solid transparent;
  border-top-color: #333333;
  display: inline-block;
  height: 0;
  position: relative;
  top: 5px;
  width: 0;
  opacity: 0.5; }

.arrow-small {
  border-width: 5px;
  top: 4px; }
